<link rel="stylesheet" href="/css/home.css">






<section class="container py-5">
    <h3><b>Videos</b></h3>
    <!-- THUMBNAILS START -->
    <div class="row mx-n4" id="thumbnailContainer">

        <!-- THUMBNAIL -->
        {{!-- <div class="col-12 col-md-6 px-4 py-5">
                <div class="card thumbnail">
                    <div class="row m-0 flex-nowrap">
                        <div class="col-8 p-2">
                            <div class="position-relative w-100 h-100 overflow-hidden thumbnail-img-new" style="--background-thumbnail: url(/uploadsmanager/thumbnails/video1.png);">
                                <div class="w-100" style="padding-top:50%;"></div>
                                <img src="/uploadsmanager/thumbnails/video1.png" alt="video 1 thumbnail" height="100%" width="auto" class="position-absolute thumbnail-img">
                            </div>
                        </div>
                        <div class="col-4 p-2 d-flex flex-column">
                            <div class="thumbnail-title-container">
                                <p class="m-0 thumbnail-title"><b>TITLE Lorem ipsum</b></p>
                                <p class="m-0 text-muted font-12">2 Jan 2020</p>
                            </div>
                            <div class="thumbnail-description-container mb-auto">
                                <p class="thumbnail-description m-0">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Ad,
                                    magnam. Eius
                                    tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur
                                    odit, provident
                                    nam ad illum ratione maxime porro.</p>
                            </div>
                            <p class="m-0 text-right">
                                <a href="/video">See more</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div> --}}

    </div>
    <!-- THUMBNAILS END -->
</section>







<script src="/uploadsmanager/thumbnails/thumbnailsmanager.js"></script>
<script src="/js/home.js"></script>