<link rel="stylesheet" href="/css/video.css">





{{!-- Feel free to remove these comments when you are done --}}
<section class="container py-5"> {{!-- you can do whatever you like with this py-5 padding --}}
    {{!-- Hi Nick, you can put whatever you ilke in here --}}
    {{!-- keep everything wrapped up in this SECTION container --}}



    {{!-- NOTE: try to use camel case for IDs that are referenced in JS (e.g. videoContainer) --}}
    {{!-- NOTE: try to use hyphens for CLASSNAMES that are not referenced in JS (e.g. video-mediacontrol-container) --}}
</section>







{{!-- <script src="/uploadsmanager/videos/videosmanager.js"></script>   --}}
{{!-- ^^^ this is ideally where links to videos goes, no need to work with this for now --}}

<script src="/js/video.js"></script>